[user]
	name = starp128
	email = starp128@163.com
[core]
	editer = emacs
	pager = less -r
[alias]
	lg = log --decorate --oneline --graph
	st = status
	lg = log --graph --decorate=full
	br = branch
	b = branch
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
	ui = auto
