[user]
	name = starp128
	email = starp128@163.com
[core]
	editor = emacs -nw
[alias]
	lg = log --decorate --oneline --graph
	st = status
	br = branch
	b = branch
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
	ui = auto
