[core]
	editer = emacs -nw
[alias]
	lg = log --decorate --oneline --graph
	logd = log --decorate
	st = status
	br = branch
	b = branch
[color]
	diff = auto
	status = auto
	branch = auto
	log = auto
	ui = auto
